mat-sidenav-container {
  height: 100vh;
  width: auto;
  font-size: 20px;
}

mat-sidenav {
  background-color: rgb(152, 196, 216);
  width: max-content;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: flex;
}

nav {
  display: block;
  padding: 10px;
}

nav:hover {
  background-color: rgb(102, 214, 190);
}

.menu > nav > a {
  text-decoration: none;
  color: cornsilk;
  font-size: 25px;
}

.menu {
  background-color: rgb(28, 112, 151);
  padding: 10px;
  color: cornsilk;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.menu > h2 > strong:hover {
  color: rgb(148, 223, 206);
}
