<div class="menu">
  <nav>
    <a routerLink="" (click)="ToggleSideBar()">
      <strong>Menu</strong>
    </a>
  </nav>
  <strong>Project management system</strong>
</div>

<mat-sidenav-container>
  <mat-sidenav [opened]="opened">
    <div>
      <nav>
        <a routerLink="projects" (click)="ToggleSideBar()">
          <strong>Projects</strong>
        </a>
      </nav>
      <nav>
        <a routerLink="project-tasks" (click)="ToggleSideBar()">
          <strong>Project tasks</strong>
        </a>
      </nav>
      <nav>
        <a routerLink="teams" (click)="ToggleSideBar()">
          <strong>Teams</strong>
        </a>
      </nav>
      <nav>
        <a routerLink="users" (click)="ToggleSideBar()">
          <strong>Users</strong>
        </a>
      </nav>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
