<div class="mat-elevation-z8">
  <mat-paginator
    [pageSize]="12"
    [pageSizeOptions]="[5, 10, 12]"
    showFirstLastButtons
  >
  </mat-paginator>

  <table mat-table [dataSource]="this.dataSource">
    <ng-container matColumnDef="No. team">
      <th mat-header-cell *matHeaderCellDef>No. team</th>
      <td mat-cell class="number" *matCellDef="let element">
        {{ element.id }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Name team">
      <th mat-header-cell *matHeaderCellDef>Name team</th>
      <td mat-cell class="text" *matCellDef="let element">
        {{ element.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Created at">
      <th mat-header-cell *matHeaderCellDef>Created at</th>
      <td mat-cell *matCellDef="let element">
        {{ element.createdAt | date: "dd MMMM yyyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Update">
      <th mat-header-cell *matHeaderCellDef>Update</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="redirectToUpdate(element.id)">
          <mat-icon>update</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="Delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="redirectToDelete(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
