<div class="mat-elevation-z8">
  <mat-paginator
    [pageSize]="12"
    [pageSizeOptions]="[5, 10, 12]"
    showFirstLastButtons
  >
  </mat-paginator>

  <table mat-table [dataSource]="this.dataSource">
    <ng-container matColumnDef="No. user">
      <th mat-header-cell *matHeaderCellDef>No. user</th>
      <td mat-cell class="number" *matCellDef="let element">
        {{ element.id }}
      </td>
    </ng-container>

    <ng-container matColumnDef="No. team">
      <th mat-header-cell *matHeaderCellDef>No. team</th>
      <td mat-cell class="number" *matCellDef="let element">
        {{ element.teamId }}
      </td>
    </ng-container>

    <ng-container matColumnDef="First name">
      <th mat-header-cell *matHeaderCellDef>First name</th>
      <td mat-cell class="text" *matCellDef="let element">
        {{ element.firstName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Last name">
      <th mat-header-cell *matHeaderCellDef>Last name</th>
      <td mat-cell class="text" *matCellDef="let element">
        {{ element.lastName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell class="text" *matCellDef="let element">
        {{ element.email }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Registered at">
      <th mat-header-cell *matHeaderCellDef>Registered at</th>
      <td mat-cell *matCellDef="let element">
        {{ element.registeredAt | date: "dd MMMM yyyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Birthday">
      <th mat-header-cell *matHeaderCellDef>Birthday</th>
      <td mat-cell *matCellDef="let element">
        {{ element.birthDay | date: "dd MMMM yyyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Update">
      <th mat-header-cell *matHeaderCellDef>Update</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="redirectToUpdate(element.id)">
          <mat-icon>update</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="Delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="redirectToDelete(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
