<div class="mat-elevation-z8">
  <mat-paginator
    [pageSize]="12"
    [pageSizeOptions]="[5, 10, 12]"
    showFirstLastButtons
  >
  </mat-paginator>
  <table mat-table [dataSource]="this.dataSource">
    <ng-container matColumnDef="No. task">
      <th mat-header-cell *matHeaderCellDef>No. task</th>
      <td mat-cell class="number" *matCellDef="let element">
        {{ element.id }}
      </td>
    </ng-container>

    <ng-container matColumnDef="No. project">
      <th mat-header-cell *matHeaderCellDef>No. project</th>
      <td mat-cell class="number" *matCellDef="let element">
        {{ element.projectId }}
      </td>
    </ng-container>

    <ng-container matColumnDef="No. performer">
      <th mat-header-cell *matHeaderCellDef>No. performer</th>
      <td mat-cell class="number" *matCellDef="let element">
        {{ element.performerId }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Name task">
      <th mat-header-cell *matHeaderCellDef>Name task</th>
      <td mat-cell class="text" *matCellDef="let element">
        {{ element.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Description task">
      <th mat-header-cell *matHeaderCellDef>Description task</th>
      <td mat-cell class="text" *matCellDef="let element">
        {{ element.description }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Task state">
      <th mat-header-cell *matHeaderCellDef>Task state</th>
      <td
        mat-cell
        *matCellDef="let element"
        [ngClass]="{
          red: element.state == 0,
          yellow: element.state == 1,
          green: element.state == 2,
          grey: element.state == 3
        }"
      >
        {{
          element.state == "0"
            ? "IsCreated"
            : element.state == "1"
            ? "IsProgress"
            : element.state == "2"
            ? "IsTesting"
            : "IsDone"
        }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Created at">
      <th mat-header-cell *matHeaderCellDef>Created at</th>
      <td mat-cell *matCellDef="let element">
        {{ element.createdAt | date: "dd MMMM yyyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Finished at">
      <th mat-header-cell *matHeaderCellDef>Finished at</th>
      <td mat-cell *matCellDef="let element">
        {{ element.finishedAt | date: "dd MMMM yyyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Update">
      <th mat-header-cell *matHeaderCellDef>Update</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="redirectToUpdate(element.id)">
          <mat-icon>update</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="Delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="redirectToDelete(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
