<form [formGroup]="teamForm">
  <div class="reset">
    <span class="information">
      <h2><strong>Team information</strong></h2>
    </span>
    <div>
      <button
        mat-icon-button
        [disabled]="!teamForm.valid"
        (click)="SaveAndUpdate()"
      >
        <mat-icon>save_alt</mat-icon>
        <p>Save</p>
      </button>
      <button mat-icon-button (click)="Reset()">
        <mat-icon>refresh</mat-icon>
        <p>Reset</p>
      </button>
    </div>
  </div>
  <div>
    <label>No. team</label>
    <input formControlName="id" />
  </div>
  <div>
    <label>Team name</label>
    <input formControlName="name" />
  </div>
  <div>
    <label>Created at</label>
    <input formControlName="createdAt" />
  </div>
</form>
