<form [formGroup]="taskForm">
  <div class="reset">
    <span class="information">
      <h2><strong>Task information</strong></h2>
    </span>
    <div>
      <button
        mat-icon-button
        [disabled]="!taskForm.valid"
        (click)="SaveAndUpdate()"
      >
        <mat-icon>save_alt</mat-icon>
        <p>Save</p>
      </button>
      <button mat-icon-button (click)="Reset()">
        <mat-icon>refresh</mat-icon>
        <p>Reset</p>
      </button>
    </div>
  </div>
  <div>
    <label>No. task</label>
    <input formControlName="id" />
  </div>
  <div>
    <label>No. project</label>
    <input formControlName="projectId" />
  </div>
  <div>
    <label>No. performer</label>
    <input formControlName="performerId" />
  </div>
  <div>
    <label>Name task</label>
    <input formControlName="name" />
  </div>
  <div>
    <label>Description</label>
    <input formControlName="description" />
  </div>
  <div>
    <label>State</label>
    <input formControlName="state" />
  </div>
  <div>
    <label>Created at</label>
    <input formControlName="createdAt" />
  </div>
  <div>
    <label>Finished at</label>
    <input formControlName="finishedAt" />
  </div>
</form>
