<form [formGroup]="userForm">
  <div class="reset">
    <span class="information">
      <h2><strong>User information</strong></h2>
    </span>
    <div>
      <button
        mat-icon-button
        [disabled]="!userForm.valid"
        (click)="SaveAndUpdate()"
      >
        <mat-icon>save_alt</mat-icon>
        <p>Save</p>
      </button>
      <button mat-icon-button (click)="Reset()">
        <mat-icon>refresh</mat-icon>
        <p>Reset</p>
      </button>
    </div>
  </div>
  <div>
    <label>No. user</label>
    <input formControlName="id" />
  </div>
  <div>
    <label>No. team</label>
    <input formControlName="teamId" />
  </div>
  <div>
    <label>First name</label>
    <input formControlName="firstName" />
  </div>
  <div>
    <label>Last name</label>
    <input formControlName="lastName" />
  </div>
  <div>
    <label>Email</label>
    <input formControlName="email" />
  </div>
  <div>
    <label>Registered at</label>
    <input formControlName="registeredAt" />
  </div>
  <div>
    <label>Birthday</label>
    <input formControlName="birthDay" />
  </div>
</form>
