.ng-valid[required],
.ng-valid.required {
  border-left: 20px solid #42a948;
}

.ng-invalid:not(form) {
  border-left: 20px solid #a94442;
}

div > input {
  margin: 10px;
  height: 30px;
  width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: large;
}

label {
  margin: 10px;
}

form {
  background-color: rgb(135, 216, 172);
  border-radius: 5px;
  margin: 20px;
  align-items: stretch;
  font-size: large;
}

div {
  margin: 10px;
}

.reset {
  display: inline-flex;
  justify-content: space-between;
  vertical-align: middle;
  width: 95%;
}

.information {
  vertical-align: middle;
}

button {
  margin: 10px;
  font-size: 20px;
  background-color: rgb(63, 181, 185);
}
