<form [formGroup]="projectForm">
  <div class="reset">
    <span class="information">
      <h2><strong>Project information</strong></h2>
    </span>
    <div>
      <button
        mat-icon-button
        [disabled]="!projectForm.valid"
        (click)="SaveAndUpdate()"
      >
        <mat-icon>save_alt</mat-icon>
        <p>Save</p>
      </button>
      <button mat-icon-button (click)="Reset()">
        <mat-icon>refresh</mat-icon>
        <p>Reset</p>
      </button>
    </div>
  </div>
  <div>
    <label>No. project</label>
    <input formControlName="id" />
  </div>
  <div>
    <label>No. author/currator</label>
    <input formControlName="authorId" />
  </div>
  <div>
    <label>No. team</label>
    <input formControlName="teamId" />
  </div>
  <div>
    <label>Name</label>
    <input formControlName="name" />
  </div>
  <div>
    <label>Description</label>
    <input formControlName="description" />
  </div>
  <div>
    <label>Created at</label>
    <input formControlName="createdAt" />
  </div>
  <div>
    <label>Deadline</label>
    <input formControlName="deadline" [(ngModel)]="deadline" />
  </div>
</form>
