table {
  width: 100%;
}

th.mat-header-cell {
  padding: 5px;
  text-align: center;
  width: auto;
  background-color: rgb(152, 196, 216);
}

.mat-row:hover .mat-cell {
  background-color: rgb(196, 226, 240);
}

td.mat-cell {
  padding: 5px;
  height: max-content;
  text-align: center;
}

td.number {
  max-width: min-content;
  text-align: center;
}

td.text {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

td > button:hover {
  background-color: rgb(115, 243, 222);
}
